@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(160, 78, 238);
    font: 1em normal 'Arial';
}

header {
    padding: 30px;
}

header > h1 {
    text-align: center;
    font-size: 3em;
    text-shadow: 1px 2px 0px rgba(38, 13, 61, 0.521);
}

section {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    min-width: 300px;
    max-width: 600px;
    box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.397);
}

section > div {
    font-size: 1.6em;
    font-weight: bold;
    color: blueviolet;
}
section > div > p {
    margin: 10px 0px;
    text-shadow: 1px 2px 0px rgba(0, 0, 0, 0.397);
}

section > div > p > input {
    background-color: transparent;
    border: 2px solid blueviolet;
    border-radius: 5px;
}

section > div > p#divsex {
    cursor: pointer;
}

section > .res {
    font-family: monospace;
}

section > div > p#verificar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

section > div > p > input#iver {
    width: 250px;
    height: 30px;
    background-color: rgb(180, 128, 229);
    font-size: 18px;
}

section > div > p > input#iver:hover {
    background-color: white;
    color: rgb(180, 128, 229);
    cursor: pointer;
}