@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btnmostrarcxdmnsg {
    cursor: pointer;
    margin-top: 30px;
    border: none;
    padding: 5px;
    background: rgb(168, 168, 168);
    border-radius: 5px;
}