@charset "UTF-8";

:root {
    --cor1: rgb(255, 159, 10);
    --cor2: rgb(92, 92, 95);
    --cor3: rgb(42, 42, 44);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100dvw;
    height: 100vh;
    background: black;
}
h1 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
    margin: 20px 0px;
    text-shadow: 1px 2px #52515175;
}
h1::selection {
    background: var(--cor2);
    color: var(--cor1);
}
.listadetarefa p {
    color: var(--cor1);
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}
.listadetarefa p::selection {
    background: var(--cor2);
    color: var(--cor1);
}
.listadetarefa p a {
    color: var(--cor1);
    text-decoration: none;
}
.listadetarefa p a::selection {
    background: var(--cor2);
    color: var(--cor1);
}
.listadetarefa p a:hover {
    color: #fff;
    text-decoration: underline;
}
.inputadd {
    width: 90%;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    /*border: 1px solid red;*/
    margin: auto auto;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #ffffff86;
}
input {
    height: 120px;
    width: 80%;
    font-size: 2rem;
    padding-left: 10%;
    background: var(--cor2);
    border: none;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
input::placeholder {
    color: #fff;
}
input::selection {
    background: var(--cor1);
    color: var(--cor2);
}
button.add {
    background: var(--cor1);
    color: #fff;
    cursor: pointer;
    width: 20%;
    height: 120px;
    font-weight: 600;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.61);
}
button.add::selection {
    background: var(--cor2);
    color: var(--cor1);
}
#arealista {
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    /*border: 1px solid blue;*/
    padding-top: 40px;
}
.item {
    margin: auto auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 80px;
    width: 100%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.274);
    margin-bottom: 2%;
    cursor: pointer;
    background: var(--cor2);
    box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.493);
}
.item-icone {
    flex: 20%;
    /*border: 1px solid orangered;*/
    text-align: center;
    font-size: 2rem;
    text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.76);
    color: var(--cor3);
}
.item-icone:hover {
    color: #fff;
}
.item-nome {
    flex: 55%;
    /*border: 1px solid pink;*/
    font-size: 20px;
    font-weight: bold;
    text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.514);
    color: #fff;
}
.item-nome::selection {
    background: var(--cor1);
    color: var(--cor2);
}
.item-botao {
    flex: 25%;
    /*border: 1px solid green;*/
}
.delete {
    background: var(--cor3);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.719);
    color: #fff;
    border: none;
    padding: 10px;
    height: 80px;
    width: 100%;
    cursor: pointer;
}
.delete:hover {
    background: var(--cor1);
    color: var(--cor3);
}
.delete::selection {
    background: var(--cor2);
    color: var(--cor1);
}
.mdi-check-circle {
    color: var(--cor1);
}
.item.clicado {
    background: rgb(235, 201, 150);
}
.item.clicado .item-nome {
    text-decoration: line-through;
    color: var(--cor2);
}