/* Resetando estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Container principal */
.container {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
}

/* Estilo comum para as seções do formulário */
.form-section {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

.form-section h2 {
    margin-bottom: 15px;
}

input, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Links */
a {
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Login Form visível por padrão */
.login-form {
    transform: translateX(0%);
}

/* Estilos para animação de transição */
.recover-password-form {
    transform: translateX(100%);
}

.register-form {
    transform: translateX(100%);
}

/* Exibição do formulário ativo */
.recover-password-form.show, .register-form.show {
    transform: translateX(0%);
}

/* Voltar para login */
#back-to-login, #back-to-login-register {
    margin-top: 15px;
    color: #333;
}
